
<div>

        <table>
            <tr>
                <td>
                    <input class="form-control"
                           placeholder="Nom de la catégorie .." id="cat" ng-model="categorie.nom"
                           ng-minlength="1"
                           ng-maxlength="100"
                           required>

                </td>
            </tr>

            <tr>
                <td>
                    <button  class="butt" type="submit" ng-click="savecat(categorie)">
                        Enregistrer
                    </button>
                </td>
            </tr>
        </table>
</div>
