<div class="container">

  <div class="card">
    <div class="card-body">
      <div>
        <h3>Informations About</h3>
        <ul class="list-group">
          <li class="list-group-item">Nom : <strong>{{info.nom}}</strong></li>
          <li class="list-group-item">Prenom : <strong>{{info.adresse}} </strong> </li>
          <li class="list-group-item">Tel : <strong>{{info.tel}} </strong> </li>
        </ul>
      </div>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="onAddComentaire(f.value)">
    <div class="form-group">
      <label class="col-2 col-form-label"></label>
      <input required name="message" ngModel type="text" />
      <button [disabled]="!f.valid" type="submit" name="coment" class="btn btn-info" [(ngModel)]="comentaire.msj" ngDefaultControl>Ajouter Comentaire</button>
    </div>
  </form>

  <div class="card">
    <div class="card-body">
      <h3> Commentaires</h3>
      <div *ngFor='let c of comen'>
        <ul class="list-group">
          <li class="list-group-item">{{c.message}}
            <span class="badge badge-danger ">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>